*.background:   #121212
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #ff3300
*color9:  #ff3300
! DarkGreen + Green
*color2:  #98971a
*color10: #98971a
! DarkYellow + Yellow
*color3:  #fa8005
*color11: #fa8005
! DarkBlue + Blue
*color4:  #83a598
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #ffb366
*color13: #ffb366
! DarkCyan + Cyan
*color6:  #5b727c
*color14: #5b727c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
