!-- Xft settings -- !
Xft.dpi:        98 
Xft.antialias:  true 
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull

Xcursor.theme: Chicago 95 Emerald 
Xcursor.size: 16
!Xcursor.theme: Amiga-Retro-Modern

*.gtk.icons: Chicago95

!st.font:    MxPlus ToshibaSat 8x14:style=Regular:pixelsize=15
!st.font:    BmPlus IBM VGA 8x16:style=Regular:pixelsize=15
!st.font:    cherry:style=Regular:antialias=false:pixelsize=15
st.font:    Terminus:style=Regular:antialias=false:pixelsize=15
!st.font:    GohuFont:style=Regular:antialias=false:pixelsize=15
!st.font:    Dina:style=Regular:pixelsize=15
!st.font:    azukifontB:style=Regular:pixelsize=15
!st.font:    agave Nerd Font:style=Regular:pixelsize=15
!st.font:    SF Mono:style=Regular:pixelsize=13
!st.font:    Liberation Mono:style=Regular:pixelsize=13
!st.font:    Unifont:style=Regular:pixelsize=15
!st.font:    Comic Mono:style=Regular:pixelsize=14
!st.font:    IBM 3161:style=Medium:antialias=false:pixelsize=15
!st.font:    GohuFont:style=Regular:antialias=false:pixelsize=15

! Spacing between lines
st.chscale: 1.05 

!st.alpha:  0.97

st.borderpx:         4 


!! Dark theme
*.cursorColor:  #ff9999
*.foreground:   #d3c6aa
*.background:   #0e0e0e
