/* S E T T I N G S */

:root {
  --navbarWidth     : 0px; /* Set width of navbar. Use px or vw. */
  --animationSpeed  : 0.15s;
}


/* autohide */
#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
  margin-top: 0;
  margin-bottom: var(--navbar-margin);
  z-index: 100;
  opacity: 1;
}

#nav-bar:not([customizing]) {
  --navbar-margin: -35px;
  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;
  transition: all 0.3s ease !important;
  opacity: 0;

}


/* animations */
toolbarbutton,
.toolbarbutton-icon,
.subviewbutton,
.urlbar-input-box, 
#identity-box,
#tracking-protection-icon-container,
[anonid=urlbar-go-button],
.urlbar-icon-wrapper,
#tracking-protection-icon,
#identity-box image,
stack,
vbox,
tab:not(:active) .tab-background,
tab:not([beforeselected-visible])::after,
tab[visuallyselected] .tab-background::before,
tab[visuallyselected] .tab-background::before,
.tab-close-button {
  animation        : var(--animationSpeed) !important;
}

/*My configs*/
/*--------------------------------------------------------------------------------------------*/
#titlebar > .browser-toolbar{ 
  background: #35302a;
    border-bottom: 3px solid #111;
}


tab {
    font-size: 14px !important;
    font-family: azukifontB !important;
}

/* Remove gap between pinned and unpineed tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
}

/* reduce tab height */
.tabbrowser-tab { 
    margin-top: -5.5px !important; 
    margin-bottom: -5px !important; 
}

/* gap between taps */
.tabbrowser-tab {
	padding-inline: 0px !important;
}

.tabbrowser-tab .tab-close-button {
  visibility: collapse !important;
}

.tabbrowser-tab[selected] .tab-label {
    color: #fabd2f !important;
    font-weight: bold !important;
}

.tabbrowser-tab[selected] .tab-content {
    background: #35302a ! important;
}

.tabbrowser-tab:not([selected]) .tab-label {
    color: #f7daa2 !important;
}
.tabbrowser-tab:not([selected]) .tab-content {
    background: #35302a;
}