* {
  /*--tab-corner-rounding: 5px;*/
  --animation-speed: 0.4s;
  --button-corner-rounding: 30px;
  --urlbar-container-height: 40px !important;
  --urlbar-min-height: 30px !important;
  --urlbar-height: 30px !important;
  --urlbar-toolbar-height: 38px !important;
  --moz-hidden-unscrollable: scroll !important;
  --toolbarbutton-border-radius: 3px !important;
  --tabs-border-color: transparent;
}

/* autohide starts here */

#tabs-newtab-button {
/*   margin-left: 4px !important; */
  border-radius: 100% !important;
}

.urlbarView-results {
/*   padding: 0 6px !important; */
}

.tabbrowser-tab::before,
.tabbrowser-tab::after {
  display: none !important;
}

.tab-background[selected='true'] {
  color: #111111 !important;
}

.tabbrowser-tab {
  text-align: center !important;
  justify-content: center;
  align-items: center;
/*   margin: 0px 0 0 0 !important; */
/*   padding-inline: 0 !important; */
}
.tabbrowser-tab[selected='true'],
.tab-label-container[selected='true'] {
/*   font-size: 0.9rem; */
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#nav-bar:not([customizing]) {
  --navbar-margin: -37px;
  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;
  transition: all 0.3s ease !important;
  opacity: 0;

}
#tabs-newtab-button {
  margin: 0rem 0rem -0.52rem 0rem !important;
}
#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
  margin-top: 0;
  margin-bottom: var(--navbar-margin);
  z-index: 100;
  opacity: 1;
}

#PersonalToolbar {
  margin-top: 0px;
}
#nav-bar .toolbarbutton-1[open='true'] {
  visibility: visible;
  opacity: 100;
}

:-moz-any(#content, #appcontent) browser {
  overflow-y: scroll;
  margin-bottom: 0px !important;
  overflow-x: scroll;
}

.tabbrowser-tab[fadein]:not([pinned]) { min-height: 30px !important; max-height: 31px !important; }

/* Self */

#tabbrowser-tabs {
    --user-tab-rounding: 4px;
}
@media (-moz-proton) {
    .tab-background {
        border-radius: var(--user-tab-rounding) !important;
    }
}

/* Inactive tabs: Shadow style */

@media (-moz-proton) {
    .tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
        background-color: color-mix(in srgb, currentColor 8%, transparent);
    }
}

/* /Font Size for tab / */
#tabbrowser-tabs .tab-text{
 margin:4px 4px 4px 4px;
 font-size:10pt !important;
 /*font-weight: bold !important;*/
}

